html{
    font-size: 12px;
    font-family: 'Kanit', sans-serif;
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    margin: 0;
}
header{
    background-color: rgb(93, 129, 206);
    color: white;
    font-size: 2rem;
    padding: 10px;
}
footer{
    background-color: rgb(93, 129, 206);
    color: white;
    font-size: 2rem;
    padding: 5px;
}
.column-100{
    width: 100%;
    text-align: center;
    margin-left:  230px;
    margin-right: 230px;
}
.column-50{
    width: 50%;
}
.column-45{
    width: 45%;
}
.video{
    margin-left: 70px;
    margin-top: 90px;
}
.column-55{
    width: 55%;
}
nav{
    border-bottom: 2px solid rgb(93, 129, 206)
}
nav li{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 15px 20px;
    text-align: left;
    padding: 20px;
    font-size: 1.5rem;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav li:hover{
    color: white;
    background-color: rgb(93, 129, 206);
}
p{
    font-size: 1.5rem;
}
h4{
    font-size: 3rem;
}
.caratula1{
    margin-top: -300px;
    margin-left: 60px;
}
.precio{
    margin-left: 60px;
    color: rgb(93, 129, 206);
    font-size: 3rem;
    text-align: center;
}
.per{
    margin-left: 60px;
}
@media screen and (max-width: 800px){
    .column-100{
        width: 100%;
        margin-left:  20px;
        margin-right: 20px;
    }
    .column-55{
        width: 100%;
    }
    .column-50{
        width: 100%;
    }
    .column-45{
        width: 100%;
    }
    .video{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
    }
    .gta{
        width: 110px;
        height: 115px;
    }
    .caratula1{
        margin-top: 0px;
        margin-left: 130px;
        margin-right: 20px;
    }
    .caratula2{
        margin-left: 60px;
    }
    }
