html{
    font-size: 12px;
    font-family: 'Kanit', sans-serif;
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    margin: 0;
}
header{
    background-color: rgb(93, 129, 206);
    color: white;
    font-size: 2rem;
    padding: 10px;
}
.column-100{
    width: 100%;
    text-align: center;
    margin-left:  230px;
    margin-right: 230px;
}
.column-65{
    width: 65%;
}
.pad{
    margin-left: 144px;
}
.column-33{
    width: 33.33%;
    text-align: center;
}
.column-35{
    width: 35%;
    margin-top: 23px;
}
nav{
    border-bottom: 2px solid rgb(93, 129, 206)
}
nav li{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 15px 20px;
    text-align: left;
    padding: 20px;
    font-size: 1.5rem;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav li:hover{
    color: white;
    background-color: rgb(93, 129, 206);
}
.ventas{
    background-color: rgb(93, 129, 206);
    padding: 15px;
    color: white;
    margin-right: 40px;
}
.menu{
    margin-left: 30px;
    margin-top: 20px;
    width: 100%;
}
.imagen1{
    text-align: center;
}
.imagen{
    margin-left: 130px;
    width: 700px;
}
p{
    font-size: 1.5rem;
}
h4{
    font-size: 3rem;
}
footer{
    background-color: rgb(93, 129, 206);
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    padding: 5px;
}
@media screen and (max-width: 800px){
    .column-100{
        width: 100%;
        margin-left:  20px;
        margin-right: 20px;
    }
    .column-65{
        width: 100%;
    }
    .column-35{
        width: 100%;
        margin-right: 20px;
    }
    .imagen{
        width: 400px;
        margin-left: 80px;
        margin-right: 80px;
    }
    }