<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojocs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <title>Grand Theft Auto V</title>
</head>
<header>X-GAMES</header>
<body>
    <div class="row">
        <div class="column-100">
            <h4><strong>X-GAMES</strong></h4>
            <p>En Re-Read podras encontrar libros de segunda mano en perfecto estado. Tambien vender los tuyos. Porque siempre hay libros leidos y libros por leer. Por eso Re-compramos y Re-venndemos para que nunca te quedes sin ninguno de los dos. </p>
        </div>
    </div>
</body>
</html>